* {
  background-color: beige;


}

body {
  width: 80%;
  margin: auto;
}


header {
  width: 100%;
  display: block;
}

h1 {
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

.tagline {
  display: block;
}

p {
  font-size: 20px;
  padding-top: 5px;
  padding-left: 50px;

}



td, th, tr {
  border: 4px;
  border-collapse:
  margin: 0;
  padding: 15px;
  background-color: lightblue;
  border-spacing: 3px 3px;
}

.cont {
  border: 10px;
}

form {
  background: lightblue;
}
